@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: rgb(183, 203, 255);
}
.navbar{
    background-color: rgb(18, 18, 69) !important;
    height: 120px;
}
.navbar-collapse{
    background-color: rgb(18, 18, 69);
}
.navbar-brand{
    font-size: 1.6em;
}
.navbar a{
    color: aliceblue;
}
.navbar a:hover{
    background-color: rgb(207, 233, 255);
    color: rgb(18, 18, 69);
}


 /* usericon basically rightoffset ka stylingh here */
.offcanvas{
    background-color: rgb(160, 186, 252);
}




/* saare buttons */

#botn{
    background-color: rgb(18, 18, 69) !important;
    color: aliceblue;
}
#botn:hover{
    background-color: aliceblue!important;
    color: rgb(18, 18, 69)!important;
}





/* homepage ka styling */
.home-top{
    height: 85vh;
    /* background-color: rgb(157, 212, 255) ;   */
}


.hometopimg :hover{
    transform: scale(1.06);
    transition: transform 0.6s;
}
.homemidimg :hover{
    transform: scale(1.04);
    transition: transform 0.4s;
}
@media (max-width:768px) {
    .home-top{
        height: 90vh;
        /* background-color: aqua; */  
    }
    .home-top p{
        font-size: 0.85em;
    }
}
.homemid{
    background-color: rgb(191, 146, 240);
}

/* footerstyling */
.footer{
    height: 65vh ;
    background-color: rgb(5, 5, 38);
    color: aliceblue;
}



















































/* copied contacct input section page from internet */

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }






  /* random */

  .serv{
      font-weight: bolder;
  }